.card {
  border: 0;
  box-shadow: 0 0.5em 1.5em -0.25em rgba(0, 0, 0, 0.1);

  &-footer {
    background: #eaeaff;
    border: 0;
  }
}

.form-control {
  border-radius: 4px;
}

.table thead th {
  vertical-align: top;
}

.table-responsive.card {
  margin-bottom: 1rem;

  .table {
    margin-bottom: 0;
  }
}

.page-link {
  display: flex;
  height: 100%;
  align-items: center;
}

.dropdown-menu {
  border: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.ql {
  &-toolbar {
    border-radius: 4px 4px 0 0;
  }

  &-container {
    border-radius: 0 0 4px 4px;
  }

  &-editor {
    min-height: 10em;
  }
}
